spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db_export
    username: postgres
    password: postgres

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
