<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Import</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h3>Import</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <div th:if="${message != null}" class="alert alert-success">[[${message}]]</div>
                    <form enctype="multipart/form-data" method="post" th:action="@{/import}">
                        <input name="file" type="file" class="form-control mb-4 col-4" required>
                        <div>
                            <button type="submit" class="btn btn-primary btn-sm mb-3"> Import</button>
                            <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Retour</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>